/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #FFCCBC;
}

/*
 * Base structure
 */
html,
body,
.cover,
.cover-inner {
  height: 100%;
}

body {
  text-align: center;
  background-color: #E64A19;
  color: #FFFFFF;
}

/*
 * Card
 */
.card.member {
  color: #000000;
  overflow: hidden;
}

.card.member img {
  max-height: 200px;
}



.vertical-center {
  align-self: center;
}
.vertical-top {
  align-self: flex-start;
}
.vertical-bottom {
  align-self: flex-end;
}
